.formulario{
    width: 90%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 20px;
}

.formulario_doble{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.formulario_btn{
    width: 80%;
    margin: auto;
    text-align: center;
}

.formulario_doble label, .formulario_btn label{
    margin-bottom: 5px;
}

.doble_btn{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    text-align: center;
}

.espacio{
    min-height: calc(100vh - 110px - 250px);
}

.table{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    vertical-align: middle;
}

.table img{
    width: 100px;
}

.table .si{
    color: green;
    font-weight: bolder;
}


.table .no{
    color: red;
    font-weight: bolder;
}
