.formulario{
    width: 40%;
    margin-left: 70px;
    margin-top: 75px;
}

.table{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 400px;
    text-align: center;
}

.table .si{
    color: green;
    font-weight: bolder;
}


.table .no{
    color: red;
    font-weight: bolder;
}
