.form_añadir{
    width: 40%;
    margin: auto;
    margin-top: 100px;
    min-height: calc(100vh - 110px - 250px);
}

.correcto{
    width: 90%;
    height: 100px;
    background-color: green;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 25px;
}

.error{
    width: 90%;
    height: 100px;
    background-color: red;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 25px;
}