.correcto{
    width: 90%;
    height: 200px;
    background-color: green;
    margin: auto;
    margin-top: 300px;
    text-align: center;
    padding-top: 75px;
}

.error{
    margin-top: 300px;
    width: 90%;
    height: 200px;
    background-color: red;
    margin: auto;
    margin-top: 300px;
    text-align: center;
    padding-top: 75px;
}